@*@{ var breadCrumbs = ViewData["BreadCrumbs"] as List<BreadCrumbViewModel>; }*@
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">                
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*@if (breadCrumbs != null)
                    {
                        foreach (var breadCrumb in breadCrumbs)
                        {

                            <li class="breadcrumb-item"><a href="@breadCrumb.Url">   @breadCrumb.Title</a></li>
                        }
                    }*@
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->